<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
</head>

<body>

	<p><i>
	{% if found %}
		<h3><i>The following match your search criteria:</i></h3> 
	{% else %}
		<h3><i>No matching songs were found.</i></h3>
		<br>
		<h3><i>These are all current known songs.</i></h3> 
	{% endif %}
	</i></p>

	<br>

		{% for song in results %}
			<table>
		<tr><td width="150"><i>Name ::</i></td><td width="750">{{ song.name }}</td></tr>
		<tr><td width="150"><i>Album ::</i></td><td><a href="/album/{{song.album.id}}">{{ song.album }}</a></td></tr>
		<tr><td width="150"><i>Song ID ::</i></td><td>{{ song.id }}</td></tr>
			</table>
		<br>
		{% endfor %}

	
</body>
</html>	