<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
</head>

<body>

	<p><i>
	{% if found %}
		<h3><i>The following match your search criteria:</i></h3> 
	{% else %}
		<h3><i>No matching artist were found.</i></h3>
		<br>
		<h3><i>These are all current known artists.</i></h3> 
	{% endif %}
	</i></p>

	<br>

	<br>
	<table>
		{% for artist in results %}
		<tr><td width="150"><i>First Name ::</i></td><td width="750"><a href="/artist/{{ artist.id }}">{{ artist.first_name }}</a></td></tr>
		<tr><td width="150"><i>Last Name ::</i></td><td>{{ artist.last_name }}</td></tr>
		<tr><td width="150"><i>Artist ID ::</i></td><td>{{ artist.id }}</td></tr>
		{% endfor %}
	</table>
	
</body>
</html>	