<html>
<head>
	<title>Album</title>
</head>

<body>
	<h1><i>Data_Base: Specific Album</i></h1>
	
	<hr>
	<table>
			<tr><td width="150"><i>Name ::</i></td><td width="750">{{ album.name }}</td></tr>
			<tr><td width="150"><i>Artist ::</i></td><td><a href="/artist/{{album.artist.id}}">{{ album.artist }}</a></td></tr>
			<tr><td width="150"><i>Album ID ::</i></td><td>{{ album.id }}</td></tr>
			<tr><td width="150"><i>Year ::</i></td><td>{{ album.year }}</td></tr>
		{% if album.genre = 'C' %}
			<tr><td width="150"><i>Genre ::</i></td><td>Country</td></tr>
		{% elif album.genre = 'A' %}
			<tr><td width="150"><i>Genre ::</i></td><td>Alternative</td></tr>
		{% elif album.genre = 'K' %}
			<tr><td width="150"><i>Genre ::</i></td><td>Rock</td></tr>			
		{% elif album.genre = 'P' %}
			<tr><td width="150"><i>Genre ::</i></td><td>Pop</td></tr>	
		{% elif album.genre = 'R' %}
			<tr><td width="150"><i>Genre ::</i></td><td>Rap/Hip-Hop</td></tr>
		{% elif album.genre = 'U' %}
			<tr><td width="150"><i>Genre ::</i></td><td><i>Unknown</i></td></tr>
		{% elif album.genre = 'S' %}
			<tr><td width="150"><i>Genre ::</i></td><td>Soundtrack</td></tr>
		{% elif album.genre = 'T' %}
			<tr><td width="150"><i>Genre ::</i></td><td>Trance/Techno</td></tr>
		{% elif album.genre = 'X' %}
			<tr><td width="150"><i>Genre ::</i></td><td>Classical<td></tr>
		{% endif %}
			<tr><td width="150"><i>Price ::</i></td><td>{{ album.price }}</td></tr>
		{% if album.available %}
			<tr><td width="150"><i>Available ::</i></td><td><b><i>YES</b></i></td></tr>
		{% else %}
			<tr><td width="150"><i>Available ::</i></td><td><b><i>NO</b></i></td></tr>
		{% endif %}
	</table>
	
	<br>
	<hr>
	<h3><i>Known Tracks ::</i></h3>
		{% for song in songs %}
			<br>
			<table>
				<tr><td width="150"><i>Name ::</i></td><td width="750"><a href="/song/{{song.id}}">{{ song.name }}</a></td></tr>
				<tr><td width="150"><i>Song ID ::</i></td><td>{{ song.id }}</td></tr>
			</table>
		{% endfor %}
	<hr>
	<h3>Links:</h3>
	
	<ul>
		<i>Search Options:</i>
		<li><a href="/search/album/">Search Album</a></li>
		<li><a href="/search/artist/">Search Artist</a></li>
		<li><a href="/search/song/">Search Song</a></li>
		<p></p>
		<i>Commit Data:</i>
		<li><a href="/add/album/">Add Album</a></li>
		<li><a href="/add/artist/">Add Artist</a></li>
		<li><a href="/add/song/">Add Song</a></li>
	</ul>
	
</body>
</html>